In [13]:
import os
import pandas as pd
import re

In [24]:
directorio = './data/raw'  # Reemplaza esto con la ruta de tu directorio

# Verifica si el directorio existe 
if os.path.exists(directorio) and os.path.isdir(directorio): 
    archivos = os.listdir(directorio)
    if archivos:
        print("Archivos en el directorio:") 
        for archivo in archivos[2:3]: 
            print(archivo) 
            path = directorio+'/'+archivo
            df = pd.read_excel(path,header=3, usecols="B:D") 
    else:
        print("El directorio está vacío.") 
else: 
    print("El directorio no existe o no es válido.")

Archivos en el directorio:
SANOR.xlsx

C:\Users\Usuario\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
C:\Users\Usuario\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [26]:
df

     Unnamed: 1                             Unnamed: 2  Unnamed: 3
0           NaN                                    NaN         NaN
1           NaN                                    NaN         NaN
2           NaN                                    NaN         NaN
3           NaN                                    NaN         NaN
4           NaN                                    NaN         NaN
...         ...                                    ...         ...
1424       9226   Tornillo p/inod. 22x60 c/buje y taco      159.31
1425       9227   Tornillo p/inod. 22x70 c/buje y taco      166.94
1426       9228   Tornillo p/inod. 22x80 c/buje y taco      182.22
1427       9230    Fijacion Inodoro Roca Dama (445330)     1633.68
1428      9229B  Tornillo p/Inod. 22x100 c/buje y taco      196.77

[1429 rows x 3 columns]

OBTENGO LOS NOMBRES DE LOS ELEMENTOS

In [33]:
dfx = df
dfx = dfx.rename(columns={
    'Unnamed: 1': 'codigo',
    'Unnamed: 2': 'descripcion',
    'Unnamed: 3': 'precio' 
}) 
dfx = dfx.dropna(subset=['codigo'])  
dfx = dfx.dropna(subset=['precio'])  
# Restablecer los índices del DataFrame
dfx.reset_index(drop=True, inplace=True) 

#list_articles = [item for item in df[df.columns[0]].tolist() if item != "Código" and not pd.isna(item) and not re.match(r'\d+\.\d+', str(item)) and "Plástico" not in item and "Poliestireno" not in item ]

In [34]:
dfx

     codigo                                      descripcion   precio
0      5131  Agarradera 45 cm. EPOXI c/torn. de Acero y taco  2532.55
1      5135  Agarradera 25 cm. EPOXI c/torn. de Acero y taco  1938.61
2      5136  Agarradera 35 cm. EPOXI c/torn. de Acero y taco  2246.87
3      5137  Agarradera 55 cm. EPOXI c/torn. de Acero y taco  2740.37
4      5139  Agarradera 1.00 mt. EPOXI C/Torn. Acero. y taco  3778.49
...     ...                                              ...      ...
1380   9226             Tornillo p/inod. 22x60 c/buje y taco   159.31
1381   9227             Tornillo p/inod. 22x70 c/buje y taco   166.94
1382   9228             Tornillo p/inod. 22x80 c/buje y taco   182.22
1383   9230              Fijacion Inodoro Roca Dama (445330)  1633.68
1384  9229B            Tornillo p/Inod. 22x100 c/buje y taco   196.77

[1385 rows x 3 columns]